In [1]:
import urllib.request
urllib.request.urlretrieve("https://raw.githubusercontent.com/songys/Chatbot_data/master/ChatbotData.csv", filename = "ChatBotData.csv")

('ChatBotData.csv', <http.client.HTTPMessage at 0x231cb3a9050>)

In [1]:
import pandas as pd
data_1 = pd.read_csv('./ChatBotData.csv')
data_2 = pd.read_csv('./qa_dataset.csv')
data = pd.concat([data_1, data_2])
data

,Q,A,label
0,12시 땡!,하루가 또 가네요.,0
1,1지망 학교 떨어졌어,위로해 드립니다.,0
2,3박4일 놀러가고 싶다,여행은 언제나 좋죠.,0
3,3박4일 정도 놀러가고 싶다,여행은 언제나 좋죠.,0
4,PPL 심하네,눈살이 찌푸려지죠.,0
...,...,...,...
4895,2024년 1월 1일부터 2719년 1월 1일까지 며칠인가요?,2024년 1월 1일부터 2719년 1월 1일까지는 253675일입니다.,4
4896,2024년 1월 1일부터 2720년 1월 1일까지 며칠인가요?,2024년 1월 1일부터 2720년 1월 1일까지는 254040일입니다.,4
4897,2024년 1월 1일부터 2721년 1월 1일까지 며칠인가요?,2024년 1월 1일부터 2721년 1월 1일까지는 254405일입니다.,4
4898,2024년 1월 1일부터 2722년 1월 1일까지 며칠인가요?,2024년 1월 1일부터 2722년 1월 1일까지는 254770일입니다.,4
4899,2024년 1월 1일부터 2723년 1월 1일까지 며칠인가요?,2024년 1월 1일부터 2723년 1월 1일까지는 255135일입니다.,4

In [2]:
data.to_csv('data.csv', index = False)

In [2]:
df3 = pd.read_csv('./consumer_spending_data_corrected.csv')
df3

,날짜,고객번호,카페,음식점,여행,서점,쇼핑,온라인결제,교통,미용실,...,편의점,주차장,문화,이동통신,학원,스포츠,부동산,자동차,기기,기타
0,2022-07-17,169,5210,8030,6680,1420,2560,9960,1360,3810,...,2200,2900,4170,9000,380,3220,6270,5670,6730,7040
1,2022-06-10,29,8200,4210,4820,9780,8280,9070,3020,9640,...,9790,560,9780,6140,9140,3440,4420,2850,6790,6510
2,2022-07-01,84,8730,8520,2350,6210,6180,7770,8380,7420,...,9090,9740,710,680,5860,9040,2950,930,980,8500
3,2022-07-20,191,5520,1420,9610,1200,2740,7140,8730,3550,...,8160,3820,2290,6540,7720,7450,3550,1260,4140,560
4,2022-12-08,158,8820,4950,4100,4710,8710,3530,4000,2590,...,4320,5320,3040,2780,8090,9450,8310,3910,910,9000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1365,2022-12-22,98,4340,8930,5380,2710,2240,9840,20,3490,...,5910,1970,6310,9110,3910,3920,6230,8780,8320,2160
1366,2022-09-08,104,870,4370,5530,110,910,3830,250,4780,...,8510,7830,1050,9390,5960,7630,1810,8950,1080,9480
1367,2022-07-31,59,6340,9200,6580,3110,1070,3510,330,7450,...,5800,720,4630,6490,2690,8500,6040,8080,9300,6900
1368,2022-11-18,4,560,5060,2960,5860,6810,1510,7720,1800,...,3100,9500,4740,2710,2450,630,8600,1270,9550,3870
1369,2023-01-08,40,8010,3500,9300,6410,6290,2070,9700,8050,...,5980,1050,5830,9240,6460,820,5620,9860,980,5810

In [5]:
df3.to_csv('consumer_data.csv', encoding = 'utf-8' ,index = False)