In [ ]:
import urllib.request
urllib.request.urlretrieve("https://raw.githubusercontent.com/songys/Chatbot_data/master/ChatbotData.csv", filename = "ChatBotData.csv")

In [1]:
import pandas as pd
data_path = './processed_file(1) (9).csv'
data = pd.read_csv(data_path)
data

,날짜,고객번호,카페,음식점,여행,서점,쇼핑,온라인결제,교통,미용실,...,동물병원,세탁소,영화,정육점,해외직구,택시,사우나,보험,항공사,숙박
0,2022-07-12,1,0,25100,0,29400,0,0,0,0,...,0,0,17600,0,0,0,0,0,0,0
1,2022-07-20,1,0,23600,0,0,0,0,0,0,...,0,0,0,0,0,0,34600,0,0,0
2,2022-07-13,1,0,22800,0,0,0,0,0,0,...,0,0,0,0,38900,0,38700,0,0,0
3,2022-07-01,1,0,21900,0,0,0,0,0,0,...,222700,25400,24400,29500,0,0,0,0,0,0
4,2022-07-18,1,0,0,0,0,0,0,0,0,...,0,35200,0,38500,22800,0,0,13600,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,2022-07-16,20,0,15500,3884100,0,0,0,2800,0,...,0,0,0,0,0,0,0,0,3836750,47350
436,2022-07-24,20,0,21900,0,0,0,0,2800,0,...,0,0,0,0,0,0,0,0,0,0
437,2022-07-31,20,0,0,0,35200,0,0,2800,0,...,0,0,0,0,0,0,0,17700,0,0
438,2022-07-17,20,0,26700,0,0,0,0,2800,0,...,0,0,0,0,0,0,0,13800,0,0
439,2022-07-19,20,0,25900,0,0,0,0,2800,0,...,0,0,0,0,29200,0,0,0,0,0